@use "./variables";
@use "./breakpoints";

.dashboard {
  height: 100%;
  width: 100%;
  padding: 5rem 5rem;
  position: relative;

  @media (max-width: breakpoints.$stack) {
    padding: 5rem 0;
    margin: 0 auto;
    width: 95%;
  }

  .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .spinner {
      border: 8px solid #f3f3f3;
      border-top: 8px solid #3498db;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: spin 2s linear infinite;

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .flex {
    width: 100%;
    display: flex;

    @media (max-width: breakpoints.$stack) {
      display: block;
    }

    .left {
      .clients_container {
        margin-bottom: 5rem;

        h2 {
          font-size: variables.$fs_small_title;
          color: variables.$font;
          font-weight: 400;
          padding-bottom: 1rem;
        }

        .tags_container {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
        }
      }

      .campaigns_container {
        @media (max-width: breakpoints.$stack) {
          margin-bottom: 5rem;
        }

        h2 {
          font-size: variables.$fs_small_title;
          color: variables.$font;
          font-weight: 400;
          padding-bottom: 2rem;
        }

        .table {
          width: 100%;
        }
      }
    }

    .right {
      margin-left: 3rem;

      @media (max-width: breakpoints.$stack) {
        margin-left: 0;
      }

      .users_container {
        width: 100%;
        width: 30rem;

        @media (max-width: breakpoints.$stack) {
          width: 100%;
        }

        h2 {
          font-size: variables.$fs_small_title;
          color: variables.$font;
          font-weight: 400;
          padding-bottom: 2rem;
        }
      }
    }
  }
}
